# Flask backend
Flask==2.2.5
flask-cors==3.0.1
python-dotenv==1.0.0

# LangChain + Groq
langchain==0.1.0
langchain-community==0.0.184
langchain-pinecone==0.0.24
langchain-groq==0.0.8

# Pinecone client
pinecone-client==6.2.1

# Embeddings (CPU-only)
torch==2.3.1+cpu --index-url https://download.pytorch.org/whl/cpu
transformers==4.34.0
sentence-transformers==2.2.2
